.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF1FD;
    width: 100%;
}

.form {
    width: 50%;
    background-color: white;
    padding: 5%;
}

.form h1 {
    text-align: center;
    display: inline;
    font-size: 2.0em;
    align-items: center;
}

.icons {
    font-size: 2em;
    cursor: pointer;
    color: #090539;
    margin-right: 90px;
    background-color: white;
    border: none;
}

.icons:hover {
    color: #9897E7;
}