.menu {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #090539);
    height: 5em;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 3.5em;
    font-size: 15px;
}

.link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #9897e7;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    margin-left: 3em;
    margin-top: 0.5em;
}

.topo {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.icons {
    font-size: 1.6em;
    cursor: pointer;
    margin-right: 2%;
    color: #090539;
}

.icons:hover {
    color: #9897E7;
}

.topo h2 {
    font-size: 1.5em;
}