body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEF1FD;
  height: 100%;
  width: 100%;
}

.container {
  margin-top: 8.5%;
  width: 100%;
  max-width: 800px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.containerSist {
  width: 100%;
  max-width: 800px;
  min-height: 200px;

}

.containerE {
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  margin-top: 35px;
}

.loginAside {
  background: linear-gradient(to bottom, #ffffff, #090539);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  min-height: 200px;
}

.loginAside h1 {
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
}

.cor {
  color: #8076FF;
}

.containerSist button {
  border: none;
  display: inline;
}

.formSist {
  background-color: white;
  padding: 20px;
  min-height: 200px;
}

.formE {
  background-color: white;
  padding: 20px;
  min-height: 200px;
}

.icons {
  font-size: 35px;
  color: #090539;
  background-color: white;
  border: none;
  display: inline;
  margin-right: 10px;
  vertical-align: sub;
}

.formSist h1 {
  text-align: center;
  margin-left: 15%;
  display: inline;
  font-size: 2.0em;

}

.formE h1 {
  text-align: center;
  margin-left: 30%;
  display: inline;
  font-size: 2.0em;

}

.containerForm {
  background-color: white;
  padding: 20px;
  min-height: 200px;
  display: inline;

}

.containerForm h1 {
  font-size: 2.0em;
  margin-bottom: 1.0em;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 5% 10%;
  }

  .loginAside {
    display: none;
  }
}