.container{
    display: flex;
    margin: 0 auto;
    padding: 5% 20%;
    background-color: #EEF1FD;
}

.loginAside {
    width: 40%;
    background: linear-gradient(to bottom, #ffffff, #090539);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.loginAside h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0px 40px;
    color: white;
    text-transform: uppercase;

}
.cor{
    color:#8076FF;
}

.form{
    width: 100%;
    background-color: white;
    padding: 3% 5%;
}

.containerForm {
    width: 60%;
    background-color: white;
    padding: 3% 5%;
    overflow: auto;
}

.containerForm h1 {
    text-align: center;
    font-size: 1.9em;
    margin-bottom: 1.0em;
}