.topo {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.icons {
    font-size: 1.6em;
    cursor: pointer;
    margin-right: 2%;
    color:#090539;
}

.icons:hover {
    color: #9897E7;

}

.topo h2 {
    font-size: 1.5em;
}