.container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF1FD;
    width: 100%;
}

.form {
    width: 50%;
    background-color: white;
    padding: 4%;
    height: 70%;
    margin: 4%;
}

.form h1 {
    text-align: center;
    display: inline;
    font-size: 2.0em;
    align-items: center;
    margin-left: 12%;
    margin-bottom: 24px;
}

.icons {
    font-size: 2em;
    cursor: pointer;
    color: #090539;
    background-color: white;
    border: none;
}

.icons:hover {
    color: #9897E7;
}

@media (max-width: 768px) {
    .form {
        padding: 2%;
    }

    .form h1 {
        font-size: 1.5em;
    }

    .icons {
        font-size: 1.5em;
    }
}