/* Estilos para os campos do formulário */
.formGroup {
    border-color: #474242;
    margin: 1px 1px;
}

.formGroup label {
    display: block;
    text-transform: lowercase;
    font-size: 0.9em;
    font-weight: bold;
    color: black;
    margin-bottom: 2px;

}

.formGroup label::first-letter {
    text-transform: uppercase;
}

.formGroup input {
    background-color: transparent;
    border: none;
    color: #676464;
    outline: none;
    border: 1px solid #676464;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 300;
    width: 99%;
    height: 2.3em;
    padding: 0 10px;
}

.formGroup input:focus {
    box-shadow: inset 0.5px 0px 0.5px 1px #3E3BDD;
    outline: none;
}

.formGroup input::placeholder {
    color: #999;
}

.formGroup button {
    background-color: #090539;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    height: 40px;
}

.formGroup button:hover {
    color: antiquewhite;
    background-color: #9897E7;
}

.cabecalho Button {
    width: 49.5%;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Estilos para o formulário principal */
.formField label {
    color: #676464;
    font-size: 0.9em;
    margin-right: 35%;

}

.formField input {
    position: relative;
}

.formGroup select {
    background-color: transparent;
    border: none;
    color: #676464;
    outline: none;
    border: 1px solid #676464;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 300;
    padding: 0 10px;
    width: 99%;
    height: 2.5em;
}

.formGroup select:focus {
    box-shadow: inset 0.5px 0px 0.5px 1px #3E3BDD;
    outline: none;
}

.tamanho {
    color: #3E3BDD;
}

.adicionar-campo Button {
    width: 100%;
}

.remover-campo {
    display: flex;
}

.remover-campo Button {
    width: 30%;
    margin-left: 10px;
}

.remover-campo Input {
    width: 70%;
    height: 40px;
}

.campo-options {
    display: flex;
    align-items: center;
}

.campo-options Input {
    margin-top: 16px;
    margin-right: 2em;
}
.topo{
    align-items: center;
    display: flex;
    justify-content: end;
}
.topo Button {
    background-color: #861111;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin: 10px 10px;
}

