.formGroup {
    margin-top: 2.0em;
    border-color: #474242;
}

.formGroup label {
    display: block;
    text-transform: lowercase;
    font-size: 0.9em;
    font-weight: bold;
    color: black;
    margin-bottom: 2px;
}
.formGroup label::first-letter{
    text-transform: uppercase;
}

.formGroup input {
    background-color: transparent;
    border: none;
    color: #676464;
    outline: none;
    border: 1px solid #676464;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 300;
    width: 99%;
    height: 2.3em;    
}

.formGroup input:focus {
    box-shadow: inset 0.5px 0px 0.5px 1px #3E3BDD;
    outline: none;
}

.formGroup input::placeholder {
    color: #999;
}

.formGroup .input-error {
    outline: 1px solid rgb(255, 72, 72);
}

.formGroup .error-message {
    color: red;
    font-size: 0.7rem;
    margin-top: 1px;
    position: absolute;
}

.formGroup button{
    background-color: #090539;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    height: 40px;
}
.formGroup button:hover {
    color: antiquewhite;
    background-color: #9897E7;
}

.formField {
    margin-top: 1.0em;
}

.formField label {
    color: #676464;
    font-size: 0.9em;
    margin-right: 26%;
}

.formField input {
    position: relative;
}

.formField p {
    color: #676464;
    font-size: 0.9em;
    font-style: italic;
}

.formField a {
    color: #090539;
    font-size: 15px;
}

.formGroup select {
    background-color: transparent;
    border: none;
    color: #676464;
    outline: none;
    border: 1px solid #676464;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 300;
    width: 99%;
    height: 2.5em;
}

.formGroup select:focus {
    box-shadow: inset 0.5px 0px 0.5px 1px #3E3BDD;
    outline: none;
}
.tamanho{
    color: #3E3BDD;
}

@media (max-width: 768px) {
    .formField {
      text-align: center; 
    }
  
    .formField input[type="checkbox"],
    .formField label,
    .formField a {
      display: inline-block;
      margin-right: 5px;
      font-size: 0.8em; 
    }
  }
  
  